.git
.gitignore
.gitattributes
docker-compose.yml
backend/Dockerfile
.docker
.dockerignore
**/__pycache__/
**/*.py[cod]
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.log
.env
.venv/
venv/
.idea